.THIS {
}
.THIS .autoHeight{
    min-height: -webkit-fill-available !important;
}
.THIS .heading{
    font-size: 1rem!important;
    background-color: rgb(217, 219, 221)!important;
    padding-left: 7px!important;
    border-radius: 3px!important;
}